:host{
  display: flex; width: 100vw; height: 100vh; align-items: center; justify-content: center; background: #134E5E; background: -webkit-linear-gradient(to right, #71B280, #134E5E); background: linear-gradient(to right, #71B280, #134E5E);
}

.card{ width: 600px; padding: 10px; }

h2{text-align: center; font-size: 20px;}

h2 i{color: #712cf9; text-align: center; font-size: 50px;}

.casts{position: relative;}
.casts p{position: absolute; top:0; right: 0;}
.casts .btn {padding: 7px 16px;}
.casts .form-control{
  padding-right: 32px;
}
