<div class="card">
  <!--

    <th class="text-center">Name</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Casts</th>
        <th class="text-center">Genre</th>
        <th class="text-center">Release Date</th>
  -->
  {{movie |json}}
  <h2><i class="bi bi-camera-reels-fill"></i> {{addUpedate}} Movie</h2>
  <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="movie.name">
  </div>
  <div class="mb-3">
    <label  class="form-label">Rating</label>
    <input type="number" class="form-control" placeholder="Rating" [(ngModel)]="movie.rating">
  </div>
  <div class="mb-3">
    <label  class="form-label">Casts</label>
      <div *ngFor="let item of movie.casts;let i = index; trackBy: trackByFn" class="mb-3 casts">
          <input type="text" class="form-control" placeholder="Casts" [(ngModel)]="movie.casts[i]" >
          <p class="text-end"><button class="btn btn-sm btn-danger" (click)="movie.casts.splice(i,1)">-</button></p>
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-secondary" (click)="movie.casts.push('')">+</button>
      </div>

  </div>
  <div class="mb-3">
    <label  class="form-label">Genre</label>
    <input type="text" class="form-control" placeholder="Genre" [(ngModel)]="movie.genre">
  </div>
  <div class="mb-3">
    <label  class="form-label">Release Date</label>
    <input type="text" class="form-control" placeholder="Eg: YYYY/MM/DD" [(ngModel)]="movie.release_date">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-sm" (click)="addOrUpdate()">{{addUpedate}}</button>
  </div>
  <hr>
  <div class="text-center"><a class="btn btn-secondary btn-sm" routerLink="/"><i class="bi bi-arrow-left"></i> View Movies</a></div>
</div>
